
section {
    margin-left: 15%;
    margin-right: 15%;
}

.navi {
display: flex;
justify-content: space-between;
align-items: center;
}

.logo {
    width: 300px;
}

.a {
    display:flex;
justify-content: space-between;
width: 25%;
}

a{
    text-decoration: none;
}

.logoo {
    display: flex;
justify-content: center;
margin-top: 50px;
}

.titre { 
    margin: 1em 0;
    font-family: Work Sans,Arial,sans-serif;
    font-weight: 300;
    letter-spacing: -.3px;
    text-align: center;
     color: #00b39b; 
}

.texte   {
    color: grey;
    width: 100%;
    font-size: 18px;
    line-height: 28px;
    font-family: Roboto,Arial,sans-serif;
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}

.contener {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 320px;
    color: white;
    border: solid black;

}

.box1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: teal;
    width: 32%;
    height: 320px;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 15px;
    border: solid red;
}

.box2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: blue;
    width: 32%;
    height: 320px;
    border-radius: 10px;
    box-sizing: border-box;
   padding: 15px;
   border: solid red;

}

.box3{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: black;
    width: 32%;
    height: 320px;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 15px;
}

.p1{
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    border: solid greenyellow;
}
.slct{
   background: transparent;
   width: 50%;
   text-decoration: underline;
   border: transparent;
   border: solid deeppink;
}
.slct1{
   line-height: 40px;
    background: transparent;
   width: 50%;
   text-decoration: underline;
   border: transparent;
   border: solid deeppink;

}

.logo1{
    border: solid blue;
}
.box4{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 160px;
    margin-top: 50px;
    border: solid rosybrown;
     }

.we{
    font-size: 30px;
    line-height: 28px;
    font-family: Roboto,Arial,sans-serif; 
    color: teal;
    width: 32%;
    height: 150px;
    margin-bottom: 50px;
    border:solid red ;
}



.icon{
    display: flex;
    flex-direction: row;
  align-items: baseline;
 
  
    width: 68%;
    height: 150px;
    margin-bottom: 50px;
    border: solid gold;

}
.sygnet {
    width: 23px;
    height: 23px;
}
.titre1 {
    display: flex;
  align-items: center;
  justify-content: space-between;
    width: 150px;
    height: 13px;
}
.imagee { 
    width: 68%;
    height: 150px;
    display: flex;
    align-items: stretch;
    border: solid red;
}
